name: Deploy TestA
on:
  push:
    branches:
      - main

jobs:
  deploy:
    uses: ./.github/workflows/deploy-workflow.yaml
    with:
      app-name: ./testA
      stage: staging
      branch: proposed-release

