name: Deploy Staging TestA
on:
  push:
    branches:
      - master
      - staging

jobs:
  release:
    permissions: write-all
    uses: ./.github/workflows/release.yaml
    with:
      app-path: ./test-a
  deploy:
    uses: ./.github/workflows/deployment.yaml
    with:
      app-path: ./test-a
      stage: staging
    secrets:
      aws-secret-key-id: ${{ secrets.STG_AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.STG_AWS_SECRET_ACCESS_KEY }}

